.blog-topsection-wrapper{
    background:#DECA62;
    min-height: 25vh;
    .blog-title{
        font-family: $font-1;
        color: #606060;
        font-size: 4rem;
    }
}
.blog_list_wrapper{
    padding:1.5rem;
}
.blog_wrapper{
    background: #DECA62;
    width:70%;
    margin-top: 40px;
    padding-bottom: 7px;
    padding-left: 7px;
    .blog_inner_wrapper{
        background: #6F6F6F;
        margin-top: -7px !important;
        margin-right: -7px;
        padding-bottom: 7px;
        padding: 1.5rem;
        .blog_image_wrapper{        
            .blog_image{
                object-fit:cover;
                width: 100%;
            }
        }
        .blog_content_wrapper{

            .blog_content{
                font-family: $font-1;
                color: #E1DDDD;
                
                font-size:1.5rem;
            }
        }
        .blog_title{
            font-family: $font-1;
            color: #DECA62;
            font-size:3rem;
        }
        .author-wrapper{
            .blog_author{
                font-family: $font-1;
                color: #E1DDDD;
                font-size:1.2rem;
                text-align: center;
            }
            .blog_date{
                left: 0%;
                font-family: $font-1;
                color: #E1DDDD;
                padding-left: 4%;
                font-size:0.8rem;
            }
        }
        
        
    }
}