.blog_section_outer_wrapper{
    background: #DECA62;
    width:60%;
    top:10%; 
    padding-bottom: 7px; 
    padding-left: 7px;
    .blog_section_inner_wrapper{
        background: #6F6F6F;
        margin-top: -7px;
        margin-right: -7px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        .blog_section_title{
            font-family: $font-1;
            color: #DECA62;
            font-weight: 700;
            font-size:2rem;
            text-align: center;
        }
        .blog_section_elb{
            font-family: $font-1;
            color: #E1DDDD;
            font-weight: 500;
            font-size:1.2rem;
            text-align: center;
            padding-top: 2rem;
        }
        .blog_section_button_wrapper{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 2rem;
            .blog_button_1{
                margin-left:30%;
            }
        }

    }
}
@media(max-width:768px){
    .blog_section_title{
        
        font-size: 1.5rem !important;  
    }
    .blog_section_elb{
        font-size: 1.1rem !important;
        padding-top: 1.5rem !important;       
    }
    .blog_section_button_wrapper{
        padding-top: 1.5rem !important;
        .blog_button_1{
            margin-left:25% !important;
        }
    }
}
@media(max-width:450px){
    .blog_section_title{
        
        font-size: 1.2rem !important;  
    }
    .blog_section_elb{
        font-size: 0.6rem !important;
        padding-top: 0.3rem !important;       
    }
    .blog_section_button_wrapper{
        padding-top: 1rem !important;
        .blog_button_1{
            margin-left:15% !important;
        }
    }
}
@media(max-width:380px){
    .blog_section_title{
        
        font-size: 1rem !important;  
    }
    .blog_section_elb{
        font-size: 0.6rem !important;
        padding-top: 0.5rem !important;       
    }
    .blog_section_button_wrapper{
        padding-top: 1rem !important;
        .blog_button_1{
            margin-left:15% !important;
        }
    }
}