.footer_wrapper{
    background: url('../../assets/footer_bg.svg');
    background-repeat: no-repeat;
    background-size : contain;
    height:100%;
}
.dsg_wrapper{
    margin-top: 140px;
    .name_text{
        font-family: $font-1;
        font-size:2.5rem;
        font-weight: 500;
        color: #DECA62;
    }
    .clg_name{
        margin-top:5px;
        font-family: $font-1;
        font-size:1.5rem;
      //  font-weight: 200;
        color: #DECA62;

    }
}

.links_wrapper{
    margin-top: 75px;
    h3,h4{
        color: #606060;
        font-family: $font-1;
        font-weight: 500;
    }
    .git_image{
       
       // margin-left: 180px;
        
    }
    .follow_section{
        margin-top: 50px;
        display :flex;
        justify-content: flex-end;
        margin-right: 100px;
    }
    
}