.footer_wrapper{
    // background: url('../../assets/footer_bg.svg');
    // background-repeat: no-repeat;
    // background-size : contain;
    // height:100%;
    background: #DECA62;
}
.dsg_wrapper{
    margin-top: 50px;
    width: 100%;
    .name_text{
        font-family: $font-1;
        font-size:1.6rem;
        font-weight: 600;
        color: #606060;
    }
    .sign_img{
       // width: 50px;
       height: 50px;
    }
    .clg_name{
        margin-top:6px;
        font-family: $font-1;
        font-size:1rem;
        width:60%;
      //  font-weight: 200;
        color: #606060;

    }
}

.links_wrapper{
    margin-top: 50px;
    h3,h4{
        text-decoration: none;
        color: #606060;
        font-family: $font-1;
        font-weight: 500;
        font-size: 1.2rem;
    }
    .git_image{
       
       height: 70%;

        
    }
    .mail_img{
       height: 35px;
        // width: 100px;
        vertical-align: baseline;

    }
    .follow_section{
        margin-top: 50px;
        display :flex;
        justify-content: flex-end;
        margin-right: 100px;
    }
    
}
.A_link_name{
    text-decoration: none !important;
    cursor: pointer;
}
@media (max-width:998px) and (min-width:768.01px){
    .A_mail_name{
        display:none;
    }
}
@media (max-width:768px){
    .git_name{
        padding-top: 5px;
    }
}
@media (max-width:400px){

    .links_wrapper{
        margin-top: 50px;
        h3,h4{
            font-weight: 500;
            font-size: 0.6rem;
        }
        .git_image{
           height: 40%;
        }
        .mail_img{
            height: 15px;
            vertical-align: baseline;
        }
        .follow_section{
            margin-top: 5px;
            margin-right: 100px;
        }
        
    } 
    .dsg_wrapper{
        margin-top: 30px;
        width: 100%;
        .name_text{
            font-size:1.2rem;
        }
        .sign_img{
           height: 30px;
        }
        .clg_name{
            margin-top:6px;
            font-size:0.8rem;
            width:60%;
        }
    }
    .A_link_name{
        img{
            width:40%;
            padding:0px !important;
        }
    }
    .A_follow{
        padding-right: 10px;
        padding-top: 8px;
    }
    .git_name{
        padding-top: 5px;
    }
    
}