.card_wrapper_y{
    background: #DECA62;
    width:60%;
    top:10%; 
    padding-bottom: 7px; 
    padding-left: 7px; 

    .card_main_body{
        background: #6F6F6F;
        margin-top: -7px;
        margin-right: -7px;
        .interest_title{
            font-family: $font-1;
            font-weight: 600;
            color: #DECA62;
            padding-top: 30px;
        }
        .skill_wrapper{
            margin-top: 20px;   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            
            .skill-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
            .skill-col-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
            }
        }
    }
}
.skill-img{
     width: 35%;
     pointer-events: none;
}
.description_text{
    margin-top: 10px;
    color: #E1DDDD;
    font-family: $font-1;
    font-size: 1rem;
    width:40%;
    text-align: center;
}
.description-col-text{
    margin-top: 10px;
    color: #E1DDDD;
    font-family: $font-1;
    font-size: 1rem;
    width:60%;
    text-align: center;
}
@media (max-width:768px){
    .interest_title{
       
        font-weight: 400;
        padding-top: 30px;
    }
    .skill-img{
        width: 25%;
   }
   .card_wrapper_y{
       .card_main_body{
        .skill_wrapper{
            margin-top:0px !important;
            padding-top: 0px !important;
            padding-bottom: 20px;
           .skill-wrapper{
             padding-top: 10%;
           }
       }

       }
   }
   
}
@media (max-width:580px){
    .interest_title{
        font-size: 2rem;
       
    }
}
@media (max-width:450px){
    .interest_title{
        font-size: 1.5rem;
       
    }
    .description_text{
       
        font-size: 0.7rem;
        width:60%;
    }
    .description-col-text{
        
        font-size: 0.7rem;
        width:60%;
       
    }
}
@media (max-width:380px){
    .interest_title{
        font-size: 1.2rem;
       
    }
    .description_text{
       
        font-size: 0.6rem;
        width:60%;
    }
    .description-col-text{
        
        font-size: 0.6rem;
        width:60%;
       
    }
}
