.home_wrapper{
    background-image: url(../../assets/topsection.svg);
    background-repeat: no-repeat;
    
    height: 100vh;
    background-size: contain;
    .intro_wrapper{
        position: absolute;
        right: 15%;
        top:18%;        
        .intro_text{
            font-size:3rem;
            font-family: $font-1;
            font-weight:600;
            color: #DECA62;    
        }
    }
    .desig_wrapper{
        padding-top: 40%;
        padding-left: 4%;
        width:60%;
        .desig_text{
            color: #606060;
            font-size:3rem;
            font-family: $font-1;
            font-weight:600;
        }  
    }

}
.background_{
    background: #606060;
    background-image: url(../../assets/line_bg.svg);
    background-size: contain;
    background-repeat: repeat-y;
}
.timeline-container{
    border-right: 1rem solid #DECA62;
    height: 1000px;
    margin-left: -50px;
}
.timeline_wrapper{
    width: 2rem;
    margin-left : -50px;
}
.timeline-arrow{
    position: fixed;
    top:50%;
    left:10.8%;
    width: 4%;
}

@media (max-width:1400px){
    .home_wrapper{
        background-image: url(../../assets/topsection_1400.svg);
    }
}
@media (max-width:1100px){
    .home_wrapper{
        background-image: url(../../assets/topsection_1100.svg);
    }
    .desig_wrapper{
        padding-top: 80% !important;
        padding-left: 4%;
        width:60%;
        .desig_text{
            font-size:2.5rem !important;
        }  
    }
}
@media (max-width:900px){
    .home_wrapper{
        background-image: url(../../assets/topsection_900.svg);
    }
    .desig_wrapper{
        padding-top: 85% !important;
        padding-left: 4%;
        width:60%;
        .desig_text{
            font-size:2.5rem !important;
        }  
    }
}

@media (max-width:700px){
    .home_wrapper{
        background-image: url(../../assets/topsection_700.svg);
    }
    .desig_wrapper{
        padding-top: 105% !important;
        padding-left: 4%;
        width:60%;
        .desig_text{
            font-size:2.5rem !important;
        }  
    }
}
@media (max-width:500px){
    .home_wrapper{
        background-image: url(../../assets/topsection_500.svg);
    }
    .desig_wrapper{
        padding-top: 155% !important;
        padding-left: 4%;
        width:60%;
        .desig_text{
            font-size:2rem !important;
        }  
    }
    .intro_wrapper{     
        .intro_text{
            font-size:2.5rem !important;
            
        }
    }
}
@media (max-width:440px){
    .home_wrapper{
        background-image: url(../../assets/topsection_440.svg);
    }
    .desig_wrapper{
        padding-top: 145% !important;
        padding-left: 4%;
        width:60%;
        .desig_text{
            font-size:2rem !important;
        }  
    }
    .intro_wrapper{     
        .intro_text{
            font-size:2.5rem !important;
            
        }
    }
}
@media (max-width:400px){
    .home_wrapper{
        background-image: url(../../assets/topsection_440.svg);
    }
    .desig_wrapper{
        padding-top: 140% !important;
        padding-left: 4%;
        width:60%;
        .desig_text{
            font-size:2rem !important;
        }  
    }
    .intro_wrapper{     
        .intro_text{
            font-size:2.5rem !important;
            
        }
    }
}
@media (max-width:350px){
    .home_wrapper{
        background-image: url(../../assets/topsection_350.svg);
    }
    .desig_wrapper{
        padding-top: 135% !important;
        padding-left: 4%;
        width:60%;
        .desig_text{
            font-size:1.5rem !important;
        }  
    }
    .intro_wrapper{     
        .intro_text{
            font-size:2rem !important;
            
        }
    }
}
@media (max-width:300px){
    .home_wrapper{
        background-image: url(../../assets/topsection_350.svg);
    }
    .desig_wrapper{
        padding-top: 135% !important;
        padding-left: 4%;
        width:60%;
        .desig_text{
            font-size:1.2rem !important;
        }  
    }
    .intro_wrapper{     
        .intro_text{
            font-size:1.2rem !important;
            
        }
    }
}

@media (max-height:768px) and (max-width:1366px){
    .home_wrapper{
        background-image: url("../../assets/topsection_1366.svg");
    }
}