.home_wrapper{
    // background: #606060;
    background-image: url(../../assets/topsection.svg);
    background-repeat: no-repeat;
    
    height: 100vh;
    background-size: contain;
    .intro_wrapper{
        position: absolute;
        right: 15%;
        top:15%;        
        .intro_text{
            font-size:3rem;
            font-family: $font-1;
            font-weight:600;
            color: #DECA62;    
        }
    }
    .desig_wrapper{
        position: relative;
        top: 80%;
        left: 4%;
        width:60%;
        .desig_text{
            color: #606060;
            font-size:3rem;
            font-family: $font-1;
            font-weight:600;
        }  
    }

}
.background_{
    // background: #606060;
    background-image: url(../../assets/line_bg.svg);
    background-size: contain;
    background-repeat: initial;
}
.timeline-container{
    border-right: 1rem solid #DECA62;
    height:1000px;
    margin-left : -50px;
}
.timeline_wrapper{
    width: 2rem;
    margin-left : -50px;
}
// .timeline-bg{
//     background-image: url(../../assets/line_bg.svg);
//     background-size: contain;
//     background-repeat: repeat;
// }