//for fonts
@import './abstracts/fonts.scss';

//navbar css
@import './components/navbar.scss';

@import './components/topsection.scss';

@import './components/footer.scss';

@import './components/footer.scss';

@import './components/interest.scss';

@import './components/myprojects.scss';

@import './components/dashboard.scss';

@import './components/colaborate.scss';

@import './components/blog.scss';


html {
    scroll-behavior: smooth;
}
img{
    pointer-events: none;
}
a{
    text-decoration: none !important;
}
